 *  { 
        box-sizing: border-box;
     }
     
     h1 {
            color: pink;

        }

        p {
            color: rgb(146, 195, 33);
        }
    
        body {
            background: beige;
        }
        .purple-text {
            color: rgb(0,0,255);

        }
        .important {
            font-weight: bold;
        }

        #lead-paragraph {
            color:purple;
            font-weight: bold;
        }

        .important:hover {
            background-color:#0000FF;
        }

        a[href="https://imagecomics.com/"] {
            background-color: orange;
            padding: 1rem;
        }
        a[href="http://storm.wnba.com/"] {
            background-color: blue;
        }

        h1 {
            color: #68649f;
            border-style: solid;
            border-width: 1px;
            border-color: #56526a;
        }


        p.important {
            width: 75%;
        }

        img {
            border: 3px solid #333333;
            width: 25%;
        }
    
    